body {
    background-color: #F8F8F8;
    display: flex;
    width: 1440px;
    padding: 0px 0px 202px 0px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    padding: 40px 2%;
    justify-content: space-between;
    align-items: center;
}

#logo-nav {
    display: flex;
    align-items: center;
    gap: 2%;
}

.g-logo {
    width: 148px;
}

.nav-frame {
    display: flex;
    gap: 2%;
}

.nav {
    padding: 14px 20px;
}

.nav-frame a {
    font-family: "Futura PT";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
}

#hero {
    height: 690px;
    position:relative;
}

.hero-img {
    object-fit: cover;
    border: none;
}

#profile {
    padding: 40px 2%;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #153F3D;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.profile-top {
    max-width: 800px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.profile-pic {
    flex-shrink: 0;
    border-radius: 100%;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.10);
}

.profile-title {
    flex-grow: 1;
}

.profile-title h1 {
    color: #00AFAA;
    font-family: "Adobe Garamond Pro";
    font-size: 78px;
    line-height: 76px;
    letter-spacing: -0.39px;
    flex-shrink: 0;
}

.profile-title h2 {
    color: #EFF0E7;
    font-family: "Futura PT";
    font-size: 28px;
    font-weight: 350;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    flex-shrink: 0;
}

.profile-body {
    flex-shrink: 0;
}

.profile-body p {
    color: #F8F8F8;
    font-family: "Adobe Garamond Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    flex-shrink: 0;
}

.social-button-row {
    display: flex;
    justify-content: flex-start;
    gap: 200px;
}

.icon-linkedin {
    width: 50px;
}

.profile-buttons {
    display: flex;
    gap: 40px;
}

.profile-button {
    border-radius: 12px;
    border: 3px solid #EFF0E7;
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    font-family: "Futura PT";
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#skills {
    width: 100%;
    padding: 90px 2%;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.skillCard {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.skill-illustraton {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #5B6135;
    object-fit: cover;
}
